/* Global */
* {box-sizing: border-box;}
body {
    height: auto;
    min-height: 100vh;
    background-image: linear-gradient(to top right, #9e2fff, #ffa21f);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.main {
    width: 90%;
    max-width: 850px;
    margin: 15px auto;
    background-color: #f4faff;
    box-shadow: -12px 12px rgba(0, 0, 0, 0.25);
}

/* Header section */
header {
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    background-color: #061a40;
    color: #ffffff;
    border-bottom: 5px solid #0353a4;
}
header h1 {margin-bottom: -10px;}

/* Navigation bar */
nav ul {
    background-color: #006daa;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {float: left;}
nav li.right {float: right;}
nav li a {
    display: block;
    color: #b9d6f2;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}
nav li a:hover, nav li a:active {background-color: #0086d4;}
/* Collapse navigation bar */
@media screen and (max-width: 500px) {
    nav ul li, nav ul li.right {
        float: none;
        border-bottom: 2px solid #0086d4;
    }
    h2, h3 {text-align: center;}
}

/* Main section */
section p {font-family: 'Ubuntu', sans-serif;}
section {
    padding: 0 5%;
    margin-bottom: 10px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Footer section */
footer {
    padding: 5px 0;
    margin-bottom: 15px;;
    background-color: #003559;
    color:#ffffff;
    text-align: center;
}
footer ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}
footer li {
    display: inline-block;
    margin-right: 15px;
}
footer li:last-child {margin-right: 0;}
footer a {
    text-decoration: none;
    color: #b9d6f2;
}
footer a:visited {color: #b9d6f2;}
footer a:hover {color: #0086d4;}
footer a:active {color: #f4faff;}

/* Page specifics */
/* About Me */
.pfp {
    float: left;
    margin: 0 15px 15px 0;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 500px) {
    .pfp {
        display: block;
        float: none;
        margin: 0 auto;
    }
}

/* Hobbies page */
.card {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
#art-card {box-shadow: -5px 5px 5px #ffd89e;}
#music-card {box-shadow: -5px 5px 5px #c39eff;}
#code-card {box-shadow: -5px 5px 5px #7fcc72;}
.showcase {
    float: right;
    margin: 0 0 15px 15px;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 150px;
    height: auto;
}
@media screen and (max-width: 500px) {
    .showcase {
        display: block;
        float: none;
        margin: 0 auto;
    }
}

/* Gallery page */
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 900px;
    margin: 0 auto;
    padding: 5px;
}
.gallery > div {
    border: 2px solid #000000;
    box-shadow: -3px 3px rgba(0, 0, 0, 0.25);
}
.desc {
    padding: 10px;
    text-align: center;
}
.gallery img {
    width: 100%;
    max-width: 230px;
    height: auto;
    object-fit: cover;
}

/* Contact page */
form {
    width: 100%;
    max-width: 600px;
    padding-bottom: 2em;
    margin: 0 auto;
}
fieldset {
    padding: 0.75rem 10px;
    margin-bottom: 20px;
    border: 2px dotted #b9d6f2;
}
legend {
    color: #0353a4;
    font-weight: bold;
}
label {
    display: block;
    margin: 0.5rem 0;
}
input, select, textarea {
    margin-top: 10px;
    width: 100%;
    min-width: 2em;
    padding: 5px;
    border: 1px solid #b9d6f2;
    border-radius: 3px;
}
textarea {
    font-family: inherit;
    resize: vertical;
}
input[type="file"] {
    padding: 5px;
    background-color: rgb(247, 252, 255);
}
input[type="submit"] {
    display: block;
    width: 50%;
    background-color: #0086d4;
    font-size: 1em;
    color: #f4faff;
    border: none;
    box-shadow: -3px 3px #b9d6f2;
    margin: 0.5em auto;
}